#
# configure local pins
#

# these are hardware debounced input buttons
gpioLinRequestInput 24
gpioLinRequestInput 25

# obs sync output
gpioLineRequestOutput 26

# juicer line0 set to pin 27
juicerSetPin 0 27

# set ess/joystick/lines to dictionary with "pinval pin" key/values
dservSet ess/joystick/lines { 1 12 2 13 4 18 8 17 }
