[submodule "deps/tcl"]
	path = deps/tcl
	url = https://github.com/tcltk/tcl.git
[submodule "deps/jansson"]
	path = deps/jansson
	url = https://github.com/akheron/jansson.git
[submodule "deps/fltk"]
	path = deps/fltk
	url = https://github.com/fltk/fltk.git
