[Unit]
Description=Dataserver Service
After=dserv.service
Requires=dserv.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mako -l::/usr/local/dserv/www
Restart=on-failure
RestartSec=5
TimeoutStopSec=2

[Install]

