name: Build and Test

on: [push]

jobs:

  build-linux:
    if: false  # disable the job for now
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake
          sudo apt install -y libevdev-dev

      - name: Check out our code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build and install tcl 9
        run: |
          cd deps/tcl/unix/
          ./configure
          make
          sudo make install
          sudo ldconfig

      - name: Build and install jansson static lib
        run: |
          cd deps/jansson/
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 -B build
          cmake --build build
          sudo cmake --install build

      - name: cmake and make dserv itself
        run: |
          cmake -B build
          cmake --build build

      - name: Obtain dlsh packages for test scripts to use.
        run: |
          mkdir -p dlsh/
          cd dlsh/
          DLSH_VERSION=$(curl -s https://api.github.com/repos/SheinbergLab/dlsh/releases/latest | grep '"tag_name"' | cut -d '"' -f 4)
          wget https://github.com/SheinbergLab/dlsh/releases/download/${DLSH_VERSION}/dlsh-${DLSH_VERSION}.zip -O dlsh.zip

      - name: ctest
        run: |
          cd build/
          ctest -VV --timeout 10

  build-macos:
    if: false  # disable the job for now

    strategy:
      matrix:
        os: [macos-14, macos-15]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Install build dependencies
        run: |
          brew update
          brew install cmake

      - name: Check out our code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build and install tcl 9
        run: |
          cd deps/tcl/unix/
          ./configure
          make
          sudo make install

      - name: Build and install jansson static lib
        run: |
          cd deps/jansson/
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 -B build
          cmake --build build
          sudo cmake --install build

      - name: cmake and make dserv itself
        run: |
          cmake -B build
          cmake --build build

      - name: Obtain dlsh packages for test scripts to use.
        run: |
          mkdir -p dlsh/
          cd dlsh/
          DLSH_VERSION=$(curl -s https://api.github.com/repos/SheinbergLab/dlsh/releases/latest | grep '"tag_name"' | cut -d '"' -f 4)
          wget https://github.com/SheinbergLab/dlsh/releases/download/${DLSH_VERSION}/dlsh-${DLSH_VERSION}.zip -O dlsh.zip

      - name: ctest
        run: |
          cd build/
          ctest -VV --timeout 10